<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <%- include('../partials/navbar'); %>

    <!-- Hero Section -->
    <section class="hero-section text-white" style="background-color: #324154;">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Text Content -->
                <div class="col-lg-5 col-md-12 hero-content">
                    <h1 class="display-4 fw-bold">REGISTER For A FREE Appointment</h1>
                    <p class="lead">Making Every Pet's Health Journey and Your Furry Friends' Wellness Exceptional</p>
                    <div class="button-group mt-4">
                        <a href="http://localhost:3000/register" class="btn btn-primary btn-custom me-2">Register</a>
                        <a href="http://localhost:3000/login" class="btn btn-outline-primary btn-custom">Login</a>
                    </div>
                </div>
                <!-- Hero Image -->
                <div class="col-lg-7 col-md-12 hero-image">
                    <img src="/assets/Picture11.png" class="img-fluid" alt="Hero Image" style="max-width: 80%;">
                </div>
           </div>
        </div>
    </section>
  
  
    <!-- Services Section -->
    <section class="py-5" style="background-color: #324154;">
        <div class="container-fluid">
            <div class="row gx-4">
                <% services.forEach(function(service) { %>
                    <div class="col">
                        <div class="p-4 bg-transparent text-white">
                            <img src="/assets/<%= service.image %>" class="card-img-top" alt="<%= service.title %>">
                            <div class="card-body" style="color: white;">
                                <h5 class="card-title"><%= service.title %></h5>
                                <p class="card-text"><%= service.description %></p>
                                <a href="http://localhost:3000/register" class="btn custom-btn">Learn More</a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </section>    
    <%- include('../partials/footer') %>
</body>
</html>
